<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{123,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{123,0},{122,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{245,0},{123,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{368,0},{122,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{0,37},{123,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{123,37},{122,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{245,37},{123,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{368,37},{122,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{0,74},{123,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{123,74},{122,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,37}</string>
                <key>spriteSourceSize</key>
                <string>{123,37}</string>
                <key>textureRect</key>
                <string>{{245,74},{123,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,37}</string>
                <key>spriteSourceSize</key>
                <string>{122,37}</string>
                <key>textureRect</key>
                <string>{{368,74},{122,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{490,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12a49871721155a2eb2986a6050514ce:db2a807fa2c2a312fb3f84529e05d1c9:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
